<br class="top-spacing" />
<br class="top-spacing" />
<section class="container-fluid form-section">
  <div class="row">
    <div class="col-12 col-xl-8">
      <mat-card class="main-cards">
        <div class="row" >
          <mat-title class="col-12">
          </mat-title>
          <mat-title-group>
            <mat-title>
            <h3 class="section-title" >Cadastro de Vagas</h3>
            </mat-title>
            <mat-subtitle class="row">
              <p class="col" i18n>
                Aqui é possível cadastrar novas vagas dentro do Sistema de Vagas 
              </p>
            </mat-subtitle>
          </mat-title-group>
        </div>
        
      </mat-card>

      <div class="row justify-content-end">
        <div class="col cancel-button-line">
          <button
            mat-raised-button
            class="submit-button"
          >
            Cancelar
          </button>
        </div>
        <div class="col save-button-line">
          <button
            mat-raised-button
            class="submit-button"
          >
            Salvar
          </button>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-4 setting-column">
      <mat-card class="main-cards">
      </mat-card>
    </div>
  </div>
</section>

<ng-template #spinner>
  <mat-spinner class="spinner"></mat-spinner>
</ng-template>

<ng-template #maxChar>
  <span >Permitido no máximo 50 caracteres</span>
</ng-template>

<ng-template #alphanumeric>
  <span >Permitido apenas caracteres alfanuméricos. Não permitidos espaços no início, no fim ou seguidos</span>
</ng-template>

<ng-template #required>
  <span >Campo obrigatório</span>
</ng-template>