<br class="top-spacing" />
<section class="container-fluid form-section">
  <div class="row">
    <div class="col-12">
      <mat-card class="main-cards">
        <div class="row">
          <mat-card-title-group>
            <mat-card-title>
              <h3 class="section-title"> Perfil</h3>
            </mat-card-title>
            <mat-card-subtitle class="row">
              <p class="col">
                Aqui é possível ver e editar seus dados pessoais
                <ng-container *ngIf="isTeacher()">, assim como gerenciar as vagas que você cadastrou</ng-container>
              </p>
            </mat-card-subtitle>
          </mat-card-title-group>
        </div>
        <form [formGroup]="form">
          <div class="row">
            <div class="col-6">
              <mat-form-field class="full-width" appearance="fill">
                <label class="control-label required">
                  Nome
                </label>
                <input matInput formControlName="name" />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <mat-form-field class="full-width" appearance="fill">
                <label class="control-label required">
                  Email
                </label>
                <input matInput formControlName="email" />
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="full-width" appearance="fill">
                <label class="control-label required">
                  Senha
                </label>
                <input matInput type="password" formControlName="password" />
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="full-width" appearance="fill">
                <label class="control-label">
                  Link do CV
                </label>
                <input matInput formControlName="cv" />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <p> Áreas de Interesse <span class="required-ast"> *</span>
            </p>
          </div>
          <div class="row">
            <div class=" col-3" *ngFor="let areaControl of getAreaOptions().controls; let i = index"
              formArrayName="areas">
              <mat-checkbox class="checkbox" [formControlName]="i" color="primary">
                <span class="checkbox-text">
                  {{ areaOptions[i]}}
                </span>
              </mat-checkbox>
            </div>
          </div>
        </form>
      </mat-card>

      <div class="row justify-content-end">
        <div class="col-6 cancel-button-line">
          <button mat-raised-button class="submit-button" (click)="resetForm()">
            Cancelar
          </button>
        </div>
        <div class="col-6 save-button-line">
          <button mat-raised-button class="submit-button" [disabled]="!form.valid || form.pristine"
            [ngClass]="{disabled:!form.valid}" (click)="saveForm()">
            Salvar
          </button>
        </div>
      </div>
    </div>

    <!-- <div class="col-12 col-sm-4 setting-column">
      <mat-card class="main-cards">
        <mat-card-title-group>
          <mat-card-title>
            <h3 class="section-title">Vagas Cadastradas</h3>
          </mat-card-title>
          <mat-card-subtitle class="row">
            <p class="col">
              Aqui é possível ver as vagas que você já cadastrou
            </p>
          </mat-card-subtitle>
        </mat-card-title-group>
      </mat-card>
    </div> -->
  </div>
</section>

<ng-template #required>
  <span>Campo obrigatório</span>
</ng-template>